.main {
}

.gseaBtn {
    margin-left: 6px;
}

.binomialCutoff {
    margin-left: 3px;
}

.launchBtn {
    padding: 0 2px;
}

.launchPad {
    margin-left: 9px;
}

.running {
    cursor: wait;
}

.configBtn {
    margin-left: 9px;
    padding: 1px 3px;
}

.configPanel {
    margin-left: 6px;
}
