/* The dataset section needs  */
.main {
}

.title {
    font-size: larger;
    color: MidnightBlue;
    margin: 0 0 3px 3px;
}

.subtitle {
    font-size: larger;
	color: RebeccaPurple;
    margin: 0 0 3px 12px;
}

.widget {
	padding-left: 5px;
}
