.layoutPanel {
    float: right;
    margin: 3px 20px 3px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 3px 8px 2px 10px;
}

.layoutPanel div {
    color: white;
    float: left;
    padding: 6px 8px 0 0;
}

.layoutPanel button {
    margin: 0 2px 0 2px;
}

@sprite .search {
    gwt-image: 'searchNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}

@sprite .search:hover {
    gwt-image: 'searchHovered';
}

@sprite .search:active:hover {
    gwt-image: 'searchClicked';
}