.elv-Details-Title-Wrap {
    background-color: #8ec5cf;
    border-radius: 5px;
    border: 1px solid grey;
    color: #2b5e6d;
    font-weight: bolder;
    margin: 0 0 5px 5px;
    padding: 4px 10px 4px 10px;
}

.elv-DataSet-Button{
    background-color: #f0ffff;
    border-radius: 5px;
    border: 1px solid grey;
    color: #063da0;
    font-weight: bolder;
    height: 2em;
}

/* TODO - can the slider styles be moved to a component-specific css file? */

/* The default slider style. */
.min-max-slider-table {
    width: 20em;
    height: 1em;
}

/* Right-align the max input field. */
.min-max-slider-input-row > td + td {
    float: right;
}

.gsea-config .min-max-slider-table {
    /* Scooch the table up into the title area. This is ok,
       since the title is a small div with lots of space to
       the right, whereas the slider input fields appear
       above the slider control, which looks best aligned
       with the buttons to the right under the section title.
     */
    position: relative;
    top: -2em;
    margin: 0 0 6px 6px;
}

/* Reduce the default slider knob size by app. 1/4 in the
   GSEA config context.
 */
.gsea-config .min-max-slider-table .noUi-handle {
    width: 26px;
    height: 21px;
    left: -12px;
    top: -5px;
}
